In [11]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT  distinct name FROM `Facilities` where membercost >0.0
        """

    query2 = """
           SELECT  count(distinct name) FROM `Facilities` where membercost =0.0      
     """
    query3 = """
    SELECT  distinct facid, name, membercost, monthlymaintenance
FROM `Facilities` 
where membercost< (0.2 * monthlymaintenance)
    """
    query4 = """
    SELECT  *
FROM `Facilities` 
where facid in (1,5)
"""
    query5 = """
    SELECT name, monthlymaintenance, CASE WHEN monthlymaintenance>100 then 'expensive' else 'cheap' end as level
FROM `Facilities`"""

    query6 = """
    select firstname, surname 
from (SELECT max(starttime) , memid
from `Bookings`
where memid >0) a
join  `Members` b 
on a.memid = b.memid
 """

    query7="""
    SELECT distinct c.name, firstname ||' '|| surname
from `Bookings` a
join  `Members` b 
on a.memid = b.memid
join `Facilities` c 
on a.facid = c.facid
order by firstname, surname """

    query8 = """
    SELECT c.name, firstname, case when a.memid>0 then membercost else guestcost end as cost
from `Bookings` a
join  `Members` b 
on a.memid = b.memid
join `Facilities` c 
on a.facid = c.facid
where date(starttime) = '2012-09-14'
and ((b.memid > 0 and membercost >30)
or (b.memid = 0 and guestcost >30))"""

    query9 = """
    SELECT c.name, firstname, case when a.memid>0 then membercost else guestcost end as cost
from 
(select *
 from`Bookings`
 where date(starttime) = '2012-09-14') a
join  `Members` b 
on a.memid = b.memid
join `Facilities` c 
on a.facid = c.facid
where ((b.memid > 0 and c.membercost >30)
or (b.memid = 0 and c.guestcost >30))"""
    
    query10 = """
    select facid, name, sum(cost) as revenue
    from (SELECT a.facid, b.name, a.starttime, a.slots, case when a.memid>0 then membercost else guestcost end as cost
    from`Bookings` a 
    JOIN `Facilities` b
    on a.facid = b.facid
    JOIN `Members` c
    on a.memid = c.memid ) t1
    group by facid, name
    having sum(cost) < 1000
    """
    query11 = """
    select surname, firstname, recommendedby
    from `Members` 
    order by surname, firstname 
    """
    
    query12 = """
    select b.facid,name, sum(memid)
    from `Bookings` a
    JOIN `Facilities` b
    on a.facid = b.facid
    where memid > 0
    group by b.facid, name
    """
    query13= """
    select b.facid, name, strftime('%m',starttime), sum(memid)
    from `Bookings` a
    JOIN `Facilities` b
    on a.facid = b.facid
    where memid>0
    group by 1,2,3
    order by 1,2,3
    """

    cur.execute(query1)
    rows = cur.fetchall()
    print(
        "Q1: Some of the facilities charge a fee to members, but some do not. Write a SQL query to produce a list of the names of the facilities that do. ")

    for row in rows:
        print(row)
    cur.execute(query2)
    rows = cur.fetchall()
    print(
        "Q2: How many facilities do not charge a fee to members?")

    for row in rows:
        print(row)

    cur.execute(query3)
    rows = cur.fetchall()
    print(
        "Q3: Write an SQL query to show a list of facilities that charge a fee to members, where the fee is less than 20% of the facility's monthly maintenance cost.Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.")

    for row in rows:
        print(row)

    cur.execute(query4)
    rows = cur.fetchall()
    print(
        "Q4: Write an SQL query to retrieve the details of facilities with ID 1 and 5.Try writing the query without using the OR operator. ")
    for row in rows:
        print(row)

    cur.execute(query5)
    rows = cur.fetchall()
    print("Q5: Produce a list of facilities, with each labelled as 'cheap' or 'expensive', depending on if their monthly maintenance cost is more than $100. Return the name and monthly maintenance of the facilities  in question." )
    for row in rows:
        print(row)

    cur.execute(query6)
    rows = cur.fetchall()
    print(
        "Q6: You'd like to get the first and last name of the last member(s) who signed up. Try not to use the LIMIT clause for your solution.")
    for row in rows:
        print(row)


    cur.execute(query7)
    rows = cur.fetchall()
    print(
        "Q7: Produce a list of all members who have used a tennis court. Include in your output the name of the court, and the name of the member formatted as a single column. Ensure no duplicate data, and order by the member name. ")
    for row in rows:
        print(row)

    cur.execute(query8)
    rows = cur.fetchall()
    print(
        "Q8: Produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30. Remember that guests have different costs to members (the listed costs are per half-hour 'slot'), and the guest user's ID is always 0. Include in your output the name of the facility, the name of the member formatted as a single column, and the cost. Order by descending cost, and do not use any subqueries.")
    for row in rows:
        print(row)

    cur.execute(query9)
    rows = cur.fetchall()
    print(
        "Q9: This time, produce the same result as in Q8, but using a subquery.")
    for row in rows:
        print(row)
        
    cur.execute(query10)
    rows = cur.fetchall()
    print(
        "Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!")
    for row in rows:
        print(row)
        
    cur.execute(query11)
    rows = cur.fetchall()
    print(
        "Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order ")
    for row in rows:
        print(row)
        
    cur.execute(query12)
    rows = cur.fetchall()
    print(
        "Q12: Find the facilities with their usage by member, but not guests")
    for row in rows:
        print(row)
        
    cur.execute(query13)
    rows = cur.fetchall()
    print(
        "Q13: Find the facilities usage by month, but not guests" ) 
    for row in rows:
        print(row)




def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 

        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
Q1: Some of the facilities charge a fee to members, but some do not. Write a SQL query to produce a list of the names of the facilities that do.
('Tennis Court 1',)
('Tennis Court 2',)
('Massage Room 1',)
('Massage Room 2',)
('Squash Court',)
Q2: How many facilities do not charge a fee to members?
(4,)
Q3: Write an SQL query to show a list of facilities that charge a fee to members, where the fee is less than 20% of the facility's monthly maintenance cost.Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.
(0, 'Tennis Court 1', 5, 200)
(1, 'Tennis Court 2', 5, 200)
(2, 'Badminton Court', 0, 50)
(3, 'Table Tennis', 0, 10)
(4, 'Massage Room 1', 9.9, 3000)
(5, 'Massage Room 2', 9.9, 3000)
(6, 'Squash Court', 3.5, 80)
(7, 'Snooker Table', 0, 15)
(8, 'Pool Table', 0, 15)
Q4: Write an SQL query to retrieve the details of facilities with ID 1 and 5.Try writing the query without using the OR operator.
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
Q5: Produce a list of facilities, with each labelled as 'cheap' or 'expensive', depending on if their monthly maintenance cost is more than $100. Return the name and monthly maintenance of the facilities  in question.
('Tennis Court 1', 200, 'expensive')
('Tennis Court 2', 200, 'expensive')
('Badminton Court', 50, 'cheap')
('Table Tennis', 10, 'cheap')
('Massage Room 1', 3000, 'expensive')
('Massage Room 2', 3000, 'expensive')
('Squash Court', 80, 'cheap')
('Snooker Table', 15, 'cheap')
('Pool Table', 15, 'cheap')
Q6: You'd like to get the first and last name of the last member(s) who signed up. Try not to use the LIMIT clause for your solution.
('Henry', 'Worthington-Smyth')
Q7: Produce a list of all members who have used a tennis court. Include in your output the name of the court, and the name of the member formatted as a single column. Ensure no duplicate data, and order by the member name.
('Badminton Court', 'Anna Mackenzie')
('Pool Table', 'Anna Mackenzie')
('Snooker Table', 'Anna Mackenzie')
('Table Tennis', 'Anna Mackenzie')
('Squash Court', 'Anna Mackenzie')
('Massage Room 1', 'Anna Mackenzie')
('Tennis Court 1', 'Anne Baker')
('Massage Room 2', 'Anne Baker')
('Tennis Court 2', 'Anne Baker')
('Squash Court', 'Anne Baker')
('Pool Table', 'Anne Baker')
('Table Tennis', 'Anne Baker')
('Badminton Court', 'Anne Baker')
('Massage Room 1', 'Anne Baker')
('Tennis Court 2', 'Burton Tracy')
('Massage Room 1', 'Burton Tracy')
('Snooker Table', 'Burton Tracy')
('Tennis Court 1', 'Burton Tracy')
('Pool Table', 'Burton Tracy')
('Squash Court', 'Burton Tracy')
('Table Tennis', 'Burton Tracy')
('Badminton Court', 'Burton Tracy')
('Tennis Court 1', 'Charles Owen')
('Badminton Court', 'Charles Owen')
('Snooker Table', 'Charles Owen')
('Tennis Court 2', 'Charles Owen')
('Table Tennis', 'Charles Owen')
('Squash Court', 'Charles Owen')
('Massage Room 1', 'Charles Owen')
('Massage Room 2', 'Charles Owen')
('Pool Table', 'Charles Owen')
('Table Tennis', 'Darren Smith')
('Massage Room 1', 'Darren Smith')
('Snooker Table', 'Darren Smith')
('Pool Table', 'Darren Smith')
('Squash Court', 'Darren Smith')
('Badminton Court', 'Darren Smith')
('Tennis Court 2', 'Darren Smith')
('Tennis Court 1', 'David Farrell')
('Pool Table', 'David Farrell')
('Squash Court', 'David Farrell')
('Tennis Court 2', 'David Farrell')
('Snooker Table', 'David Farrell')
('Tennis Court 2', 'David Jones')
('Table Tennis', 'David Jones')
('Pool Table', 'David Jones')
('Badminton Court', 'David Jones')
('Snooker Table', 'David Jones')
('Tennis Court 1', 'David Jones')
('Massage Room 1', 'David Jones')
('Massage Room 2', 'David Jones')
('Squash Court', 'David Jones')
('Snooker Table', 'David Pinker')
('Badminton Court', 'David Pinker')
('Table Tennis', 'David Pinker')
('Squash Court', 'David Pinker')
('Pool Table', 'David Pinker')
('Tennis Court 1', 'David Pinker')
('Massage Room 1', 'David Pinker')
('Badminton Court', 'Douglas Jones')
('Tennis Court 1', 'Douglas Jones')
('Squash Court', 'Douglas Jones')
('Pool Table', 'Douglas Jones')
('Badminton Court', 'Erica Crumpet')
('Massage Room 1', 'Erica Crumpet')
('Tennis Court 1', 'Erica Crumpet')
('Table Tennis', 'Erica Crumpet')
('Badminton Court', 'Florence Bader')
('Pool Table', 'Florence Bader')
('Table Tennis', 'Florence Bader')
('Snooker Table', 'Florence Bader')
('Tennis Court 2', 'Florence Bader')
('Massage Room 2', 'Florence Bader')
('Squash Court', 'Florence Bader')
('Tennis Court 1', 'Florence Bader')
('Squash Court', 'GUEST GUEST')
('Massage Room 1', 'GUEST GUEST')
('Tennis Court 2', 'GUEST GUEST')
('Tennis Court 1', 'GUEST GUEST')
('Badminton Court', 'GUEST GUEST')
('Snooker Table', 'GUEST GUEST')
('Massage Room 2', 'GUEST GUEST')
('Pool Table', 'GUEST GUEST')
('Table Tennis', 'GUEST GUEST')
('Tennis Court 1', 'Gerald Butters')
('Snooker Table', 'Gerald Butters')
('Badminton Court', 'Gerald Butters')
('Massage Room 1', 'Gerald Butters')
('Tennis Court 2', 'Gerald Butters')
('Massage Room 2', 'Gerald Butters')
('Squash Court', 'Gerald Butters')
('Pool Table', 'Gerald Butters')
('Table Tennis', 'Gerald Butters')
('Snooker Table', 'Henrietta Rumney')
('Pool Table', 'Henrietta Rumney')
('Tennis Court 2', 'Henrietta Rumney')
('Squash Court', 'Henrietta Rumney')
('Badminton Court', 'Henry Worthington-Smyth')
('Pool Table', 'Henry Worthington-Smyth')
('Table Tennis', 'Henry Worthington-Smyth')
('Massage Room 1', 'Henry Worthington-Smyth')
('Snooker Table', 'Hyacinth Tupperware')
('Pool Table', 'Hyacinth Tupperware')
('Squash Court', 'Hyacinth Tupperware')
('Badminton Court', 'Hyacinth Tupperware')
('Massage Room 1', 'Hyacinth Tupperware')
('Massage Room 1', 'Jack Smith')
('Pool Table', 'Jack Smith')
('Tennis Court 1', 'Jack Smith')
('Snooker Table', 'Jack Smith')
('Badminton Court', 'Jack Smith')
('Squash Court', 'Jack Smith')
('Table Tennis', 'Jack Smith')
('Tennis Court 2', 'Jack Smith')
('Massage Room 2', 'Jack Smith')
('Massage Room 1', 'Janice Joplette')
('Snooker Table', 'Janice Joplette')
('Tennis Court 1', 'Janice Joplette')
('Massage Room 2', 'Janice Joplette')
('Pool Table', 'Janice Joplette')
('Tennis Court 2', 'Janice Joplette')
('Squash Court', 'Janice Joplette')
('Table Tennis', 'Janice Joplette')
('Table Tennis', 'Jemima Farrell')
('Squash Court', 'Jemima Farrell')
('Snooker Table', 'Jemima Farrell')
('Badminton Court', 'Jemima Farrell')
('Massage Room 1', 'Jemima Farrell')
('Tennis Court 2', 'Jemima Farrell')
('Tennis Court 1', 'Jemima Farrell')
('Pool Table', 'Jemima Farrell')
('Snooker Table', 'Joan Coplin')
('Table Tennis', 'Joan Coplin')
('Tennis Court 1', 'Joan Coplin')
('Pool Table', 'Joan Coplin')
('Squash Court', 'Joan Coplin')
('Massage Room 2', 'Joan Coplin')
('Massage Room 1', 'Joan Coplin')
('Tennis Court 1', 'John Hunt')
('Tennis Court 2', 'John Hunt')
('Massage Room 1', 'John Hunt')
('Table Tennis', 'John Hunt')
('Badminton Court', 'John Hunt')
('Squash Court', 'John Hunt')
('Massage Room 2', 'Matthew Genting')
('Table Tennis', 'Matthew Genting')
('Massage Room 1', 'Matthew Genting')
('Pool Table', 'Matthew Genting')
('Snooker Table', 'Matthew Genting')
('Tennis Court 1', 'Matthew Genting')
('Badminton Court', 'Millicent Purview')
('Pool Table', 'Millicent Purview')
('Tennis Court 2', 'Millicent Purview')
('Table Tennis', 'Millicent Purview')
('Snooker Table', 'Millicent Purview')
('Squash Court', 'Millicent Purview')
('Badminton Court', 'Nancy Dare')
('Massage Room 1', 'Nancy Dare')
('Snooker Table', 'Nancy Dare')
('Tennis Court 2', 'Nancy Dare')
('Massage Room 2', 'Nancy Dare')
('Tennis Court 1', 'Nancy Dare')
('Pool Table', 'Nancy Dare')
('Table Tennis', 'Nancy Dare')
('Tennis Court 2', 'Ponder Stibbons')
('Badminton Court', 'Ponder Stibbons')
('Snooker Table', 'Ponder Stibbons')
('Massage Room 1', 'Ponder Stibbons')
('Pool Table', 'Ponder Stibbons')
('Table Tennis', 'Ponder Stibbons')
('Tennis Court 1', 'Ponder Stibbons')
('Squash Court', 'Ponder Stibbons')
('Tennis Court 2', 'Ramnaresh Sarwin')
('Snooker Table', 'Ramnaresh Sarwin')
('Badminton Court', 'Ramnaresh Sarwin')
('Massage Room 1', 'Ramnaresh Sarwin')
('Pool Table', 'Ramnaresh Sarwin')
('Massage Room 2', 'Ramnaresh Sarwin')
('Tennis Court 1', 'Ramnaresh Sarwin')
('Squash Court', 'Ramnaresh Sarwin')
('Table Tennis', 'Ramnaresh Sarwin')
('Tennis Court 2', 'Tim Boothe')
('Squash Court', 'Tim Boothe')
('Massage Room 1', 'Tim Boothe')
('Snooker Table', 'Tim Boothe')
('Badminton Court', 'Tim Boothe')
('Pool Table', 'Tim Boothe')
('Tennis Court 1', 'Tim Boothe')
('Table Tennis', 'Tim Boothe')
('Massage Room 1', 'Tim Rownam')
('Pool Table', 'Tim Rownam')
('Table Tennis', 'Tim Rownam')
('Tennis Court 2', 'Tim Rownam')
('Tennis Court 1', 'Tim Rownam')
('Massage Room 2', 'Tim Rownam')
('Badminton Court', 'Tim Rownam')
('Tennis Court 2', 'Timothy Baker')
('Massage Room 1', 'Timothy Baker')
('Pool Table', 'Timothy Baker')
('Tennis Court 1', 'Timothy Baker')
('Table Tennis', 'Timothy Baker')
('Squash Court', 'Timothy Baker')
('Badminton Court', 'Timothy Baker')
('Tennis Court 1', 'Tracy Smith')
('Snooker Table', 'Tracy Smith')
('Pool Table', 'Tracy Smith')
('Table Tennis', 'Tracy Smith')
('Massage Room 1', 'Tracy Smith')
('Badminton Court', 'Tracy Smith')
('Squash Court', 'Tracy Smith')
('Tennis Court 2', 'Tracy Smith')
Q8: Produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30. Remember that guests have different costs to members (the listed costs are per half-hour 'slot'), and the guest user's ID is always 0. Include in your output the name of the facility, the name of the member formatted as a single column, and the cost. Order by descending cost, and do not use any subqueries.
('Massage Room 1', 'GUEST', 80)
('Massage Room 1', 'GUEST', 80)
('Massage Room 1', 'GUEST', 80)
('Massage Room 2', 'GUEST', 80)
Q9: This time, produce the same result as in Q8, but using a subquery.
('Massage Room 1', 'GUEST', 80)
('Massage Room 1', 'GUEST', 80)
('Massage Room 1', 'GUEST', 80)
('Massage Room 2', 'GUEST', 80)
Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!
(2, 'Badminton Court', 604.5)
(3, 'Table Tennis', 90)
(7, 'Snooker Table', 115)
(8, 'Pool Table', 265)
Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
('Bader', 'Florence', '9')
('Baker', 'Anne', '9')
('Baker', 'Timothy', '13')
('Boothe', 'Tim', '3')
('Butters', 'Gerald', '1')
('Coplin', 'Joan', '16')
('Crumpet', 'Erica', '2')
('Dare', 'Nancy', '4')
('Farrell', 'David', '')
('Farrell', 'Jemima', '')
('GUEST', 'GUEST', '')
('Genting', 'Matthew', '5')
('Hunt', 'John', '30')
('Jones', 'David', '4')
('Jones', 'Douglas', '11')
('Joplette', 'Janice', '1')
('Mackenzie', 'Anna', '1')
('Owen', 'Charles', '1')
('Pinker', 'David', '13')
('Purview', 'Millicent', '2')
('Rownam', 'Tim', '')
('Rumney', 'Henrietta', '20')
('Sarwin', 'Ramnaresh', '15')
('Smith', 'Darren', '')
('Smith', 'Darren', '')
('Smith', 'Jack', '1')
('Smith', 'Tracy', '')
('Stibbons', 'Ponder', '6')
('Tracy', 'Burton', '')
('Tupperware', 'Hyacinth', '')
('Worthington-Smyth', 'Henry', '2')
Q12: Find the facilities with their usage by member, but not guests
(0, 'Tennis Court 1', 3062)
(1, 'Tennis Court 2', 2786)
(2, 'Badminton Court', 2724)
(3, 'Table Tennis', 4236)
(4, 'Massage Room 1', 3785)
(5, 'Massage Room 2', 322)
(6, 'Squash Court', 1906)
(7, 'Snooker Table', 4121)
(8, 'Pool Table', 8431)
Q13: Find the facilities usage by month, but not guests
(0, 'Tennis Court 1', '07', 256)
(0, 'Tennis Court 1', '08', 918)
(0, 'Tennis Court 1', '09', 1888)
(1, 'Tennis Court 2', '07', 149)
(1, 'Tennis Court 2', '08', 1054)
(1, 'Tennis Court 2', '09', 1583)
(2, 'Badminton Court', '07', 93)
(2, 'Badminton Court', '08', 731)
(2, 'Badminton Court', '09', 1900)
(3, 'Table Tennis', '07', 108)
(3, 'Table Tennis', '08', 1174)
(3, 'Table Tennis', '09', 2954)
(4, 'Massage Room 1', '07', 267)
(4, 'Massage Room 1', '08', 1209)
(4, 'Massage Room 1', '09', 2309)
(5, 'Massage Room 2', '07', 19)
(5, 'Massage Room 2', '08', 95)
(5, 'Massage Room 2', '09', 208)
(6, 'Squash Court', '07', 77)
(6, 'Squash Court', '08', 750)
(6, 'Squash Court', '09', 1079)
(7, 'Snooker Table', '07', 248)
(7, 'Snooker Table', '08', 1185)
(7, 'Snooker Table', '09', 2688)
(8, 'Pool Table', '07', 309)
(8, 'Pool Table', '08', 1859)
(8, 'Pool Table', '09', 6263)